<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="../../../assets/img/logoGuayabera.png" width="150" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/alojamiento']" routerLinkActive="router-link-active"><i class="fa fa-hotel"></i> Alojamiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-blind"></i> Pasadía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-coffee"></i> La Granja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-users"></i> Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-phone"></i> Contáctanos</a>
            </li>
        </ul>

    </div>
</nav>