<app-navbar></app-navbar>
<div class="container">
    <div class="col-lg-12">
        <div class="text-center">
            <h2><img src="../../../assets/img/logoMedio.png" width="3%" class="img-fluid" alt="Responsive image">&nbsp; La Guayabera <small>turismo campestre</small></h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-center mt-4">
                <div class="card-columns">
                    <div class="card">
                        <img src="../../../assets/img/pasadia/1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cabalgatas</h5>
                            <p class="card-text">Recorridos en un ambiente natural.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/pasadia/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Caminatas ecológicas</h5>
                            <p class="card-text">Puedes hacer parte de los recorridos guiados por nuestros distintos senderos ecológicos, donde conocerás sobre la variedad de especies de flora y fauna que habitan el territorio..</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/pasadia/3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Deslizamiento de tirolesa</h5>
                            <p class="card-text">Tirolesa de alta velocidad con el mejor paisaje y todas las medidas de seguridad.</p>
                        </div>
                    </div>
                    <div class="card bg-success text-white text-center p-3">
                        <blockquote class="blockquote mb-0">
                            <img src="../../../assets/img/logoBlanco.png" width="150" alt="">
                            <p>Hacienda la Guayabera</p>
                            <footer class="blockquote-footer text-white">
                                <small>
                            Reserva ya, <cite title="Source Title">elije el servicio</cite>
                          </small>
                            </footer>
                            <button class="btn btn-light btn-block">Reservar</button>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/pasadia/4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/pasadia/5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Prácticas Ganaderas</h5>
                            <p class="card-text">Ponerse en el rol de un ganadero con prácticas interactivas.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/img/pasadia/6.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Zona de camping</h5>
                            <p class="card-text">Pasa el dia con servicio de zona de camping.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>